body  {
  color: rgb(260, 77,39);
  font-family:arial;
  margin: 0px;
}

h1, h2 {
  text-align: center;
}

img {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
